.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 22px;
}

.react-datepicker__triangle {
  stroke: var(--color-lime-500) !important;
  fill: var(--color-lime-500) !important;
  color: var(--color-lime-500) !important;
}

.react-datepicker__header {
  background-color: #c2ec6f;
  border-bottom: none;
}

.react-datepicker__current-month {
  margin: 5px 0px !important;
}

.react-datepicker__navigation {
  margin: 5px 0px !important;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--color-gray-900) !important;
}

.react-datepicker__month-container {
  width: calc(100dvw - 40px);
  max-width: 390px;
  min-width: 236px;
  background-color: var(--color-gray-700);
}

.react-datepicker__month {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

.react-datepicker__day {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-700);
  color: var(--color-gray-200);
}

.react-datepicker__day:hover {
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
}

/* 선택된 날짜 */
.react-datepicker__day--selected {
  border: 1px solid #c2ec6f;
  color: var(--color-gray-200);
}

.react-datepicker__day--selected:hover {
  color: var(--color-gray-0);
}

/* 오늘 날짜 */
.react-datepicker__day--today {
  background-color: #c2ec6f43;
  border-radius: 5px;
  color: var(--color-gray-100);
}

.react-datepicker__day--outside-month {
  color: var(--color-gray-400);
}
